#main-navigate{
    background-color: #2c2a29;
    color: white;
    display: flex;
    justify-content: space-around;  
    font-size: 15px;  
    margin: 0;
}

.menu-item{
    cursor: pointer;
    padding: 10px;
}

.menu-item:hover{
    background-color: #ffffff;
    color: #2c2a29;
}

.menu{
    display: flex;
    list-style: none;
    gap: 20px;
}