<div id="carouselExampleControls" class="carousel slide carousel-container" data-bs-ride="carousel">
  <div class="carousel-inner sliders">
    <div class="carousel-item active">
      <div class="carousel-content">
        <section>
          <h4><img src="assets/Logo_Bancolombia.svg" class="d-block w-100" alt="image3.jpg" /></h4>
          <h1>App Mi Bancolombia</h1>
          <span>Muchos planes pendientes, tú decides qué va primero. Saca tu crédito y recibe la plata de una, elige el tiempo y cuota con menor tasa.</span>
          <h4>¿No tienes la app? Descárgala aquí</h4>
        </section>
        <img src="assets/imgPub3.png" class="d-block w-100" alt="image3.jpg" />        
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-content">
        <section>
          <h4>Crédito de Libre Inversión</h4>
          <h1>¿Viajes? ¿Estudios? Hazlo posible con tu crédito</h1>
          <span>Muchos planes pendientes, tú decides qué va primero. Saca tu crédito y recibe la plata de una, elige el tiempo y cuota con menor tasa.</span>
        </section>
        <img src="assets/imgPub2.png" class="d-block w-100" alt="image2.jpg" />
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-content">
        <section>
          <h4>Interoperabilidad</h4>
          <h1>Envía y recibe plata en un 2x3. Fácil y rápido</h1>
          <span>Pasale a quien quieras, como quieras y cuando quieras</span>
          </section>
          <img src="../../../../assets/imgtotal10.jfif" class="d-block w-100" alt="image1.jpg" />        
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <div class="colorButon">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </div>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <div class="colorButon"> <span class="carousel-control-next-icon " aria-hidden="true"></span></div>
    <span class="visually-hidden">Next</span>
  </button>
</div>